<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igel UI</title>
    <img src="../assets/logo.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
    <div>
        
        <a href="../index.html">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
              </svg>
        </a>
    </div>
</head>
<body>
    <h1 id="title">Igel UI</h1>
    <br>
    <label>Enter your dataset: </label><br>
    <input id="data" placeholder="data.csv" type="file"><br>
    <br>
    <label>Test size: </label><br>
    <input placeholder="0.2" type="number"><br>
    <br>
    <label>Shuffle while split: </label>
    
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <br>

      <label>Replace missing values with: </label>
      <select id="missing-values" name="missing-values">
        <option value="mean">mean</option>
        <option value="median">median</option>
        <option value="drop">drop</option>
        <option value="most frequent">most frequent</option>
        <option value="constant">constant</option>
      </select>

      <br>

      <label>Encoding: </label>
      <select id="encoding" name="encoding">
        <option value=""></option>
        <option value="OneHotEncoding">one hot encoding</option>
        <option value="LabelEncoding">label encoding</option>
      </select>
      
      <br>
      <label>Scaling method: </label>
      <select id="scale" name="scale">
        <option value=""></option>
        <option value="Standard">standardization</option>
        <option value="MinMax">normalization</option>
      </select>


      <br>
    <input id="yaml" type="file"><br><br>
    <button id="btn-yaml" onclick="showYamlPath()">show yaml path</button><br><br>
  
    <button onclick="send()">Submit</button><br><br>
  
<script src="../js/script.js"></script>
</body>
</html>